<h2>{{ data.title }}</h2>
<p>{{ data.description }}</p>

<p><strong>Teoría:</strong></p>
<button mat-stroked-button color="primary" (click)="data.goToTheory()">Ir a teoría</button>

<div style="margin-top: 1rem">
  <p><strong>Práctica:</strong></p>
  <button
    mat-raised-button
    (click)="data.goToPractice()"
    style="margin-right: 0.5rem; margin-top: 0.3rem;"
  >
    Ir a práctica
  </button>
</div>

<div style="text-align: right; margin-top: 2rem;">
  <button mat-button (click)="close()">Cerrar</button>
</div>