<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Sobre nosotros</h3>
        <p>
          Somos una plataforma dedicada a fomentar el aprendizaje de idiomas de manera accesible,
          divertida y efectiva. Nuestro objetivo es abrir puertas a nuevas oportunidades.
        </p>
      </div>
      <div class="footer-section">
        <h3>Legal</h3>
        <ul>
          <li><a class="nav-button" routerLink="/admin-panel/1/1/P/1" routerLinkActive="active">Aviso de privacidad</a></li>
          <li><a class="nav-button" routerLink="/admin-panel/1/1/T/1" routerLinkActive="active">Términos y condiciones</a></li>
          <li><a class="nav-button" routerLink="/admin-panel/1" routerLinkActive="active">Sobre nosotros</a></li>
          <li><a class="nav-button" routerLink="/admin-courses" routerLinkActive="active">Más</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2025 Lerni Paroli. Todos los derechos reservados.
    </div>
  </footer>