<footer class="footer">
    <div class="footer-content">
      <div class="footer-section">
        <h3>Sobre nosotros</h3>
        <p>
          Somos una plataforma dedicada a fomentar el aprendizaje de idiomas de manera accesible,
          divertida y efectiva. Nuestro objetivo es abrir puertas a nuevas oportunidades.
        </p>
      </div>
      <div class="footer-section">
        <h3>Legal</h3>
        <ul>
          <li><a class="nav-button" routerLink="/privacy-notice" routerLinkActive="active">Aviso de privacidad</a></li>
          <li><a class="nav-button" routerLink="/terms-conditions" routerLinkActive="active">Términos y condiciones</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      &copy; 2025 Lerni Paroli. Todos los derechos reservados.
    </div>
  </footer>